<div style="clear:both"></div>
<div id="main_round_box" style='width:600px'>
  <div class="row_fluid">

    <div class='expert'>
      <div class='expert_header'>
        <div class='expert_name' style='float:left'>
          XYZ
        </div>
        <div class='expert_details' style='float:left'>
          blurg
        </div>
      </div>
<div style="clear:both"></div>
      <div class='expert_body'>
        <div class='expert_body_left'>
          About 
          <hr>
          ksjflaskdjf
          <br /><br />
          Portfolio
          <hr>
        </div>
        <div class='expert_body_right'>
          Feedback
          <hr>
          laskjdflkas lsd kljfasdf
        </div>
      </div>
<div style="clear:both"></div>
    </div>
  </div>
</div>
<div style="clear:both"></div>
<%=image_tag 'expert_profile.png'%>
