/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require prettyphoto-rails
 */
/* General styles */

*{
  margin:0;
  padding:0;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('/assets/Roboto-Black.ttf');
  src: url('/assets/vegur-r_0.602-webfont.woff') format('woff'), url('/assets/Roboto-Black.ttf') format('truetype'), url('/assets/vegur-r_0.602-webfont.svg#webfontlYuAwLPv') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  text-align:center; /*For IE6 Shenanigans*/
  background-color: #F0F0F0;
  margin:0;
  padding:0;
  border:0;			/* This removes the border around the viewport in old versions of IE */
  width:100%;
  min-width:600px;		/* Minimum width of layout - remove line if not required */
  /* The min-width property does not work in old versions of Internet Explorer */
  font-family:'Roboto';
  color: #666;
}
a {
  color:#fff;
  text-decoration:none;
}
a:hover {
  color:#123600;
  background:none;
  text-decoration:none;
}
h1, h2, h3 {
  margin:.8em 0 .2em 0;
  padding:0;
}
p {
  margin:.4em 0 .8em 0;
  padding:5px;
  font-size:1.1em;
}

ul {
  font-size: 1.1em;
}
/*
img {
  margin:10px 0 5px;
}
*/

    
/* fade edges */
hr.fade_edges {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
/* gradient down */
hr.gradient {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}
/*blur */
hr.blur {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.blur:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

/* light grey */
hr.light_grey {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.flash_notice {
  color: hotpink;
  font-weight:bold;
}
#main_round_box {
  border: 1px solid #acacac;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-o-border-radius: 20px;
  min-width:968px;
  max-width:1200px;
  margin: 0 auto; 
}
/* Header styles */
#header {
  clear:both;
  float:left;
  width:100%;
  height:70px;
  padding-top:20px;
  width:100%;
  margin-right:125px;
}
#header {
  /*border-bottom:1px solid #000;*/
}
#header p,
#header h1,
#header h2 {
  padding:.4em 15px 0 15px;
  margin:0;
}
#header ul {
  clear:left;
  float:left;
  width:100%;
  list-style:none;
  margin:10px 0 0 0;
  padding:0;
}
#header ul li {
  display:inline;
  list-style:none;
  margin:0;
  padding:0;
}
#header ul li a {
  display:block;
  float:left;
  margin:0 0 0 1px;
  padding:3px 10px;
  text-align:center;
  background:#eee;
  color:#FFFFFF;
  text-decoration:none;
  position:relative;
  left:15px;
  line-height:1.3em;

}
#header ul li a:hover {
  background:#369;
  color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
  color:#fff;
  background:#000;
  font-weight:bold;
}
#header ul li a span {
  display:block;
}
/* 'widths' sub menu */
#layoutdims {
  clear:both;
  background:#eee;
  border-top:4px solid #000;
  margin:0;
  padding:6px 15px !important;
  text-align:right;
}
/* column container */
.colmask {
  position:relative;	/* This fixes the IE7 overflow hidden bug */
  clear:both;
  float:left;
  width:100%;			/* width of whole page */
  overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
  float:left;
  width:100%;
  position:relative;
}
.col1,
.col2,
.col3 {
  float:left;
  position:relative;
  padding:0 0 1em 0;
  overflow:hidden;
  margin-bottom:0px;
  padding-bottom:0px;
}
/* Full page settings */
.fullpage {
  background:#fff;		/* page background colour */
}
.fullpage .col1 {
  width:1200px;			/* page width minus left and right padding */
  left:0%;			/* page left padding */
}

#copyright {
  margin-left:0px;
  margin-top:50px;
  float:left;
  font-size:16px;
  font-family: 'Roboto' !important;
  font-style: normal;
  font-weight: 500;
}

#footerlinks {
  margin-top:50px;
  margin-right:125px;
  float:right;
  color: #ccc;
}
#footerlinks a{
  font-size: 12px;
  color: #ccc;
}
/* Footer styles */
#footer {
  clear:both;
  float:left;
  width:100%;
  background-color:#5b9337;
  height:120px;
  width:100%;
  padding-top:0px;
  margin-top:0px;
  /*border-top:1px solid #000;*/
}
#footer p {
  padding:10px;
  margin:0;
}

#logo{	
  float:left;	
  padding-left:0px;
}

#header-links{
  float:right;
  /*color:#5b9337;*/
  padding-right:0px;
  padding-top:11px;
}

#header-links a{
  /*color:#5b9337;*/
  font-size:16px;
  font-family: 'Roboto' !important;
  font-style: normal;
  font-weight: 500;
}

#contact {
  width:100%;
  background: -webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,0.5) 0,rgba(255,255,255,0) 70%);
  background: -o-radial-gradient(center,ellipse cover,rgba(255,255,255,0.5) 0,rgba(255,255,255,0) 70%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(255,255,255,0.5) 0,rgba(255,255,255,0) 70%);
  background-color:#eee;
  padding-bottom:50px;
  margin-bottom:0px;
  padding-top:35px;
  color:#616161;
  text-align: center;
  border-top: 1px solid #cdcdcd;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-radius: 0px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -o-border-radius: 0px;
}	

#why_and_how, #how_it_works {
  padding-bottom: 20px;
  padding-top:20px;	
  background-color: #fff;
}

#how_it_works, #what_is_this {
  width:100%;
  margin:auto;
  border-bottom: 1px solid #cdcdcd;
}

#our_experts {
  background-color: #fafafa;
  height:675px;
  color:#a7a7a7;
}


#left_expert{
  float:left;
  color:#a7a7a7;
  width:475px;
  margin-left:125px;
}


#right_expert{
  float:right;
  color:#a7a7a7;	
  width:475px;
  padding-top:0px;
  margin-top:0px;
}



#left_why {
  float:left;
  color:#9f9f9f;
  margin-left:60px;
  width:400px;
  padding-bottom:25px;
  text-align: left;
}

#left_why p {
  padding: 0px;
}

#right_why{
  float:right;
  color:#3c3c3c;
  margin-right:160px;
  width:550px;
  padding-bottom:25px;
  text-align: left;
}

#right_why h3 { padding-bottom:0px; color:#7a7a7a;}
#left_why h3 { padding-bottom:0px; color:#7a7a7a;}

#why_text{
  color:#a7a7a7;
}

.link_home {
  color:#5b9337;	
  font-weight:bolder;	
  padding-right:15px;
}

.link {
  color:#7a7a7a;
  font-weight:bolder;
  padding-right:15px;
}



.expertbg{
  position:relative;
  top:0;
  left:0;
}

.title {
  color: #adadad;
  font-weight: normal;
  font-size: 30px;
}

.center {
  text-align: center;
  padding-bottom:20px;
  padding-top:20px;
}

#our_experts h2 {
  color:#4c4c4c;
}

#specialties {
  float:right;
  width:237px;
}

#clients{
  float:left;
  width:237px;
}

#profile{
  padding-bottom:10px;
}

#sun{
  text-align: center;    	
  padding-top:20px;
  font-size:18px;
}

#more_experts{
  padding-top:10px;
}

#signup{
  height:200px;
  width:950px;
  margin-right:125px;
  margin-left:125px;
  padding-top:20px;
}

.field{
  border: 2px solid #ddd;; 
  color: #7a7a7a;  
  padding: 5px 15px 0px 15px;
  font-size:14px;
  height:40px;
  width:350px;
}

.area{
  height:150px;
  padding-top:10px;
}

div#big_image_div {
  background-image: url(/assets/main_bg/blue_shirt.jpg);
  border-bottom: 1px solid #cdcdcd;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -o-border-radius: 20px;
  /**background-position: 90% top;**/
  background-size: 100% auto;
  background-repeat: no-repeat;
  position:relative;
  top:0;
  left:0;
  height:545px;
}
.row_fluid {
  margin: 0 auto;
  max-width:1200px;
  height:100%;
}

#use_button{
  float: left;
  border:none;
  background-image:url('/assets/use-button.png') ;
  background-repeat:no-repeat;
  width:380px;
  height:70px;
  text-align: left;
  padding: 23px 22px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14px;
  font-family: 'Roboto';
  letter-spacing: 2px;
  font-weight: bold;
 text-shadow: 0 0 1px rgba(0,0,0,0.3);
  -webkit-font-smoothing: antialiased;
}

#use_button_wrapper { color: #fff}

#top_text {
  color: #444;
  text-align:left;
  font-size:32px;
  font-family:'Roboto';
  padding: 20px;
/*background-color:rgba(25,25,25,0.4);*/
  width:800px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#top_text_and_button {
  top:120px;
}

#steps_wrapper {
  background-color:#ededed;
  height:195px;
  padding:20px;
  color:#555;
  text-align:center;
}

.steps {
  float:left;
  margin-right:33px;
  width: 340px;
 }
.site_design { 
  text-align:center; 
  background-color:white;
  width:280px;
  height:45px;
  margin: 0 auto;
  color: #fff;
}
 .steps p {
   font-size:1.1em;
   margin:5px;
   color:#fff;
 }
 .steps p ul li {
   margin-left: -25px;
}

.hand {
  cursor:pointer;
  cursor:hand;
}

.steps h2 {
}

#submit_button {
  background-color: #78B153;
  padding: 20px;
  color: #fff;
  margin-top:10px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 18px/100% 'Roboto-Black', sans-serif;
  letter-spacing: 4px;
  padding: .5em 2em .55em;
  border: 0px solid;
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}


.logo {
  color: #ddf8c6;
  text-align: center;
  font-size: 23px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
 /* text-shadow: 0 1px 2px rgba(0,0,0,0.4);*/
}
.arrow_box_noarrow {
  padding:20px;
  height: 160px;
  position: relative;
  background: #78B153;
  color: #fff;
  font-size:14px;
  border: 1px solid #B2D899;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.1));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.1));
  font-size: 14px;
}
.arrow_box {
  padding:20px;
  height: 200px;
  position: relative;
  background: #78B153;
  color: #fff;
  font-size:14px;
  border: 1px solid #B2D899;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.1));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.1));
  font-size: 14px;
}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #78B153;
  border-width: 30px;
  top: 50%;
  margin-top: -30px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #B2D899;
  border-width: 32px;
  top: 50%;
  margin-top: -32px;
}

h1.logo {
  margin: 0;
  padding: 0 0 10px 0;
}

input, textarea {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font-family: 'Roboto', Arial, sans-serif;  
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: 'Roboto', Arial, sans-serif;  
}

.step_description {
  font-style: italic;
  text-align: left;
  font-size: 0.9em;
  bottom: 0;
  position: absolute;
  padding: 20px;
}
.step_header {
  width: 24%;
  float: left;
  color: #5B9337; 
  font-size: 1.4em;
}
.step {
position:relative;
width: 24%; 
float: left; 
color: #666;
  font-size: 1.1em;
height:420px;
}

.experts, .format {
  float:left;
  padding-left:10px;
  font-size:0.8em;
  width:60px;
}

/* submit form styles */
#submit_form div {
  background-color: #5b9337;
}

.sf {
  padding:10px;
}

.sf_label {
  width:200px;
  display:inline-block;
}
/* end submit form styles */
.howitworks_text {
  padding-top:15px;
  font-style:italic;
  color: #999;
}

.qa_answers {
  display:none;
}

.qa_questions {
  cursor:pointer;
  cursor:hand;
}

.qa_q_selected {
  color:#3c3c3c;
  font-weight:bold;
  text-decoration: underline;
}
  
#quotes {
  color: #55B5B4;
  font-style: italic;
  font-size:20px;
  letter-spacing:1px
}
 .clear {
  content: " ";
   display: block; 
   height: 0; 
   clear: both;
    }
