.field{
  border: 1px solid #acacac;; 
  color: #7a7a7a;  
  padding: 5px 15px 0px 15px;
  font-size:14px;
  height:40px;
  width:250px;
}


.button {
  text-decoration: none;
  background-color:#55b5b4;
  color:#fff;
  font-size:14px;
  padding:10px 22px;
/*  border-radius:2px;*/
  border:1px solid #286968;
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.4);
  /*box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);*/
  font-family: 'Roboto';
  font-weight:800;
  text-transform: uppercase;
  cursor:hand;
  cursor:pointer;
  letter-spacing:3px;

  -webkit-transition: all 0.1s ease-in-out; 
  -moz-transition: all 0.1s ease-in-out; 
  -o-transition: all 0.1s ease-in-out; 
  transition: all 0.1s ease-in-out;
}
  .button:hover {
    background-color:#429e9d;
    color: #fff;
    text-decoration:none;
  }
  .button:active {
    background-color:#286968;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }

#steps_wrapper {
  background-color:#ededed;
  height:195px;
  padding:20px;
  color:#555;
  text-align:center;
}

.steps {
  float:left;
  width: 33%;
 }
.site_design { 
  text-align:center; 
  width:280px;
  height:45px;
  margin: 0 auto;
  color: #fff;
}
 .steps p {
   font-size:1.1em;
   margin:5px;
   color:#fff;
 }
 .steps p ul li {
   margin-left: -25px;
}

.hand {
  cursor:pointer;
  cursor:hand;
}

.steps h2 {
}

.howitworks_text {
  padding-top:15px;
  font-style:italic;
  color: #999;
  text-align:center;
}

.preview {
  height: 110px;
}
#submit_wrapper, #find_reviewer_wrapper {
  padding-top: 40px;
  text-align:center;
}
#left_why {
  float:left;
  color:#9f9f9f;
  margin-left:60px;
  width:400px;
  padding-bottom:25px;
  text-align: left;
}

#left_why p {
  padding: 0px;
}

#right_why{
  float:right;
  margin-right:160px;
  width:550px;
  padding-bottom:25px;
  text-align: left;
}

#right_why h3 { padding-bottom:0px; color:#7a7a7a;}
#left_why h3 { padding-bottom:0px; color:#7a7a7a;}

#why_text{
  color:#a7a7a7;
}


.link_home {
  color: pink;
}
.area {
height: 150px;
width: 350px;
padding-top: 10px
}
#contact {
  width:100%;
  background: -webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,0.5) 0,rgba(255,255,255,0) 70%);
  background: -o-radial-gradient(center,ellipse cover,rgba(255,255,255,0.5) 0,rgba(255,255,255,0) 70%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(255,255,255,0.5) 0,rgba(255,255,255,0) 70%);
  background-color:#78B153;
  padding-bottom:50px;
  margin-bottom:0px;
  padding-top:35px;
  color:#fff;
  text-align: center;
  border-top: 1px solid #cdcdcd;
/*
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-radius: 0px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -o-border-radius: 0px;
*/
}	


.expert_header {
  background-color: #ababab;
  height:100px;
  color: #fff;
}
.expert_body {
  height: 300px;
  color: #575757;
}
.expert_body_left {
  float:left;
  width:290px;
  padding:20px;
  font-size: 14px;
  line-height:18px;
}
.expert_body_right {
  float:left;
  padding:20px;
  width:530px;
  line-height:18px;
  font-size: 14px;
}

.expert_name {
width:100px;
}
.expert_details {
width:200px;
}

.divider{
    position:absolute;
    left:270px;
    top:10px;
    height:80px;
    border-left:1px solid #efefef;
}
#ep_about {
  color: #575757;
}
#ep_portfolio_images, #ep_about {
  margin: 0;
  padding: 0;
  color: #575757;
}

.ep_portfolio_image {
  border: 2px solid #b4b4b4;
}
.submit_titles {
  color: #393c3d;
}

.expert_subtitle {
 color: #6e6e6e;
 padding-bottom:10px;
  font-size: 18px;
} 
hr.light_grey {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
  margin: 0;
}
.flash_notice {
  color: hotpink;
  font-weight:bold;
}

.expert_details a {
  color:#fff;
  background:none;
  text-decoration:none;
}
.expert_details a:hover {
  color:#696969;
  background:none;
  text-decoration:none;
}
#submit_howitworks {
  background-color: #E7FFBC;
  color: #5f5f57;
  padding: 5px;
  border: 1px solid #c3c3c3;
  padding:10px;
}
.submit_titles {
  color: #393c3d;
}
/* submit form styles */
#submit_form div {
  background-color: #5b9337;
}

.sf {
  padding:10px;
}

.sf_label {
  width:200px;
  display:inline-block;
  font-weight:bold;
}
/

